# Base de Datos
MYSQL_ROOT_PASSWORD=2025Elianadavid
MYSQL_DATABASE=gestion_educativa
MYSQL_USER=gestion_user
MYSQL_PASSWORD=gestion_pass

# Backend
NODE_ENV=production
PORT=3000
DB_HOST=mysql
DB_USER=root
DB_PASSWORD=2025Elianadavid
DB_NAME=gestion_educativa
JWT_SECRET=secreto-desarrollo

# Frontend
API_URL=http://localhost:3000
